/* Carousel */
#home {
  background-color: var(--color-accent);
}

/* Avaliações */
#avaliacoes {
  background-color: var(--light);
}

/* Botões de Mais e Badges */
.btn-more,
.badge {
  background-color: var(--color-accent);
  color: var(--light);
}

.btn-more:hover {
  background-color: var(--color-hover);
  color: var(--light);
}

.btn-more:active {
  background-color: var(--color-active);
  color: var(--light);
}

/* Seção Novidades */

.title-news a {
  color: var(--color-accent);
}

.title-news a:hover {
  color: var(--color-hover);
  text-decoration: none;
}

.title-news a:active {
  color: var(--color-active);
}

/* Seção sobre */
.fab {
  color: var(--color-accent);
  transition: all 0.4s ease-out;
}

.fab:hover {
  color: var(--color-hover);
  transform: translateY(-10px);
}

.fab:active {
  color: var(--color-active);
}

/* -------------Add-------------- */

.card-text {
  display: -webkit-box; /* Define como um contêiner flexível */
  -webkit-line-clamp: 8; /* Limita a 3 linhas */
  -webkit-box-orient: vertical; /* Define orientação vertical */
  overflow: hidden; /* Oculta o texto excedente */
}

.card-text-2 {
  font-size: 1.1rem;
}

.container-avaliacao {
  width: 20rem;
}

@media screen and (max-width: 768px) {
  .card-text-2 {
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card-title {
    text-align: center;
  }

  .display-block {
    display: block !important;
  }

  #img-destaque {
    width: 70%;
  }

  .card-mk {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 600px) {
  .display-block2 {
    display: block !important;
  }
}
